/* General rules */
html {
  font-size: 16px;
}

body {
  background-color: white;
  line-height: 1.4;
}

/* Header */
header {
  background-color: yellow;
  height: 64px;
  max-width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
}

nav span {
  margin-left: 16px;
}

/* Main content: banner */

.banner {
  background-color: blue;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  margin: 32px 24px;
}

.headline .button {
  text-align: center;
  padding: 8px;
  background-color: black;
  color: white;
}
